/*	*************************************
	Base
	************************************* */

body { 
	background-color: white;
	color: #333333;
	font-family: Arial, Helvetica, sans-serif;
}

header a { color: #ad235e;}
header a:hover { color: #000000;}
h1 {
	color: orange;
	border-bottom: 1px solid #ad235e;
}

h2 {
	font-style: italic;
	font-weight: normal;
	margin: 0 0 10px 0;
	padding: 5px; 
	background-color: black;
	color: yellow;
	font-family: Georgia, "Times New Roman", serif;
}

p { margin-top: 0; }

ol, ul { padding-left: 20px; }

nav ul { padding-left: 0; }
nav li { display: inline-block; }
nav a { 
	display: block; 
	padding: 10px;
	border: 1px solid #333333;
}
nav a:hover { background-color: #ad235e; }

a { 
	color: #ad235e;
	text-decoration: none;
}
a:hover { color: #b2cecf;}

/*	*************************************
	Modules
	************************************* */
.container {
	margin: 0 auto;
	width: 80%;
	max-width: 960px; 
}
.right {
	float: right;
	margin-left: 15px;
}
.img-frame {
	border: 1px solid #999999;
	padding: 5px;
}

.is-current {
 		background-color: black;
 		color: white;
	}
.hero-container {
margin: 0 auto;
width: 100%;
max-width: 600px;
} 
.image-holder { 
	text-align: center; 
}   

img {
	width:200px;
	height:300px;
}
